# Environment
.env
Airflow/.env

# Python
__pycache__/
*.pyc

# Airflow
Airflow/logs/

# Optional datasets
Data/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Airflow config
Airflow/config/airflow.cfg